* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
}

.heading {
  font-size: 2rem;
  text-align: center;
  color: #434343;
  margin-bottom: 2rem;
  display: none;
}

.nav {
  padding: 1.5rem 0.5rem;
  background-color: #fff;

  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}

.nav-item {
  color: #414447;
  text-decoration: none;
  letter-spacing: 1px;
  border-bottom: 3px solid #fff;
}
.active {
  color: black;
  font-weight: bold;
  border-color: darkred;
}

.filters {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  border: none;
  margin-bottom: 1rem;
}
.legend {
  display: none;
}

.unread-mails {
  color: gray;
  text-align: center;
  margin-bottom: 1rem;
}
p {
  font-size: 15px;
  color: #333030;
  line-height: 1.3;
}

/* ******** */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  margin: 0.8rem;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
}

.card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.subject {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  color: #434343;
  margin-bottom: 0.6rem;
}

.star-btn {
  font-size: 13px;
  padding: 0 0.3rem;
  background-color: #fff;
  color: gold;

  border: 1px solid gold;
  border-radius: 0.3rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.view {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

.operations-btns {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-size: 10px;
  padding: 0.3rem;
  margin-right: 0.3rem;
  letter-spacing: 1px;
  border-radius: 0.2rem;
  cursor: pointer;
}

.delete {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}

.delete:hover {
  text-decoration: underline;
}

.read-unread {
  color: #3ac23a;
  background-color: #fff;
  border: 1px solid #3ac23a;
}

.read-unread:hover {
  text-decoration: underline;
}

.report {
  background-color: #fff;
  color: orange;
  border: 1px solid orange;
}

.report:hover {
  text-decoration: underline;
}

.empty-Msg {
  text-align: center;
  color: #434343;
}

.empty-heading {
  color: lightgray;
  text-align: center;
  letter-spacing: 1px;
}

/* for tablets */
@media (min-width: 600px) {
  p {
    font-size: 1.07rem;
  }
  .main-container {
    grid-template-columns: 0fr 3fr;
    padding-right: 0.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }
  .heading {
    display: block;
  }
  .filters {
    width: 70%;
    margin: auto;
    border-radius: 0.2rem;
    padding: 0.6rem 3rem;
    color: #333030;
    margin-bottom: 1rem;
    font-size: 1.3em;
  }
  .unread-mails {
    font-size: 1.6rem;
  }
  .subject {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .nav {
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    width: 150px;
    height: 50vh;
  }

  .nav-item {
    padding: 2rem;
    width: fit-content;
    margin-bottom: 1rem;
  }
  .active {
    border: none;
    text-decoration: none;
    border-right: 3px solid darkred;
  }
  .main-inbox {
    align-self: start;
  }
  .star-btn {
    font-size: 15px;
  }
  .view {
    font-size: 1rem;
  }
  .button {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
    margin-right: 0.3rem;
    letter-spacing: 1px;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 1.25rem;
  }
  .heading {
    font-size: 3rem;
  }

  .nav {
    /* margin-top: -80px; */
    padding: 3rem;
    width: 250px;
    height: 50vh;
  }
  .nav-item {
    padding: 2.5rem;
    width: fit-content;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .filters {
    font-size: 1.4rem;
  }
  .unread-mails {
    font-size: 1.9rem;
  }
  .star-btn {
    font-size: 18px;
  }
  .subject {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .view {
    font-size: 1.2rem;
  }
  .button {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
  }
}
